<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello">
        <activity android:name=".extra.Admin_Activity"></activity>
        <activity android:name=".extra.Challenge_Section_Activity" />
        <activity
            android:name=".extra.Dashboard_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Meeting_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Course_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.AwardPage_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.UserActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Notification_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.HelpCenter_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Homework_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".connection.RegisterActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".connection.LoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Screen_three_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Screen_two_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.Screen_one_Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.SplashscreenActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".extra.MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>